{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="top-section">
        <h1>Rate alternatives</h1>
    </div>
    <div class="bottom-section">
        {% for cr in cr_cr %}
          <div class="alternative_name">{{ cr.name }}</div>
        <table border="1">
            {% for alt in all_alt %}
                <tr data-id="{{ alt.id }}">
                    <td>{{ alt.name }}</td>
                    <td>
                        <select>
                            {% for i in range(1, 11) %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            {% endfor %}
        </table>
      {% endfor %}
    </div>
  <div class="buttons-container">
            <form action="{{ url_for('index') }}" method="post">
                <button type="submit">Back to main</button>
            </form>
            <form action="{{ url_for('analyze_task', task_id=task.id) }}" method="post">
                <button type="submit">Back to criteria comparision</button>
            </form>
            <form action="{{ url_for('results_page') }}" method="post">
                <button type="submit">Next</button>
            </form>
        </div>
</div>
<style>
  .alternative_name {
        background-color: #3498db;
        color: white;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: bold;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }
</style>
{% endblock %}
{% block additional_content %}
{% endblock %}